<div class="navbar">
    <a href="#">Página Inicial</a>
    <a href="#">Favoritos</a>
    <button onclick="openDialog()"><img class="icones" src="Images/icones/computador.png" alt=""></button>
    <a href="#">Como Usar</a>
    <a href="#">Conta</a>
</div>