<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
<body>


    <div class="head1" >
        <ul class="head2">
            <li class="voltar"><a href=""><img id="headicon" src="Images/icones/voltar.png" alt=""></a></li>
            <li class="home1"><a href=""><img id="headicon" src="Images/icones/home.png" alt=""></a></li>
            <li class="login"><a href="login"><img id="headicon" src="Images/icones/user.png" alt=""></a></li>
        </ul>
    </div>
    <div class="caixa1">
        <div id="caixa2">
            <div >
                <picture><img id="icon" src="Images/logo/logopng.png" alt=""></picture>  
            </div>
            
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            <ul id="nav">
                <li class="fundo1"><a class="linknav" href="/"><img class="icones" src="Images/icones/home.png" alt="">home</a></li>
                <li class="fundo1"><a class="linknav" href="#menu2"><img class="icones" src="Images/icones/computador.png" alt="">jogos</a></li>
                <li class="fundo1"><a class="linknav" href="#menu3"><img class="icones" src="Images/icones/fav.png" alt="">favoritos</a></li>
                <li class="fundo1"><a class="linknav" href="login"><img class="icones" src="Images/icones/user.png" alt="">sei lá</a></li>
            </ul>
            <!-- <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ullam provident harum animi natus odit repudiandae quae, labore fugiat possimus expedita inventore nam, quas, rerum magni aspernatur dolorem corrupti velit.</p> -->
        </div>
        <div id="textdiv">
            <!-- <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quas aspernatur veritatis aperiam nostrum ratione, ex atque sequi explicabo cumque non recusandae dolore impedit sit nihil numquam ad error quam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, amet? Est quia earum inventore vitae similique facere suscipit ipsum id eum repellendus eveniet sequi porro, voluptas maxime dolorem dolor asperiores.</p> -->
            
            <div class="jogos">
                <!-- <div class="card1">
                    <img id="minecraft" src="Images/minecraft.jpeg">
                    <p>texto</p>
                </div>
                <div class="card1">
                    <p>texto2</p>
                </div>
                <div class="card1">
                    <p>texto3</p>
                </div> -->
            </div>
        </div>

    </div>
</body>
</html>