<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script>
        function chamartela(idjogo){
            window.location.href = "/jogo/"+ idjogo
        }
    </script>
    <link rel="stylesheet" href="/css/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/carrosel.css" />
    <title>Home</title>
</head>
<body>

    <header>
        <!-- <img class="logo" src="../imagens/africa.png" alt=""> -->
        <nav>
            <ul class="navlinks">
                <li class="voltar"><a href=""><img id="headicon" src="Images/icones/voltar.png" alt=""></a></li>
                <li class="home1"><a href="home"><img id="headicon" src="Images/icones/home.png" alt=""></a></li>
                <li class="login"><a href="login"><img id="headicon" src="Images/icones/user.png" alt=""></a></li>
                <input type="search" id="hearicon-pesquisa" class="search">
                <!-- <a class="eta" href="#"><button>contact</button></a> -->
            </ul>
        </nav>
        <!-- <a class="eta" href="#"><button>contact</button></a> -->
    </header>
    <!-- <div class="head1" >
        <ul class="head2">
            <li class="voltar"><a href=""><img id="headicon" src="Images/icones/voltar.png" alt=""></a></li>
            <li class="home1"><a href="home"><img id="headicon" src="Images/icones/home.png" alt=""></a></li>
            <li class="login"><a href="login"><img id="headicon" src="Images/icones/user.png" alt=""></a></li>
            <input type="search" class="search">
        </ul>
    </div> -->
    <div class="caixa1">
        <div id="caixa2">
            <div >
                <picture><img id="icon" src="Images/icon.png" alt=""></picture>  
            </div>
            
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <div>
                <ul id="nav">
                    <button class = "fundo1" href="/"><img class="icones" src="Images/icones/home.png" alt="">home</button> 
                    <button class = "fundo1"><img class="icones" src="Images/icones/computador.png" alt="">jogos</button>
                    <button class = "fundo1"><img class="icones" src="Images/icones/fav.png" alt="">favoritos</button> 
                </ul>
            </div>
            <!-- <div hidden="hidden">
                <ul id="infos">
                    <li class="fundo1"><a class="linknav" href="/"><img class="icones" src="Images/icones/home.png" alt="">home</a></li>
                    <li class="fundo1"><a class="linknav" href="#menu2"><img class="icones" src="Images/icones/computador.png" alt="">jogos</a></li>
                    <li class="fundo1"><a class="linknav" href="#menu3"><img class="icones" src="Images/icones/fav.png" alt="">favoritos</a></li>
                    <li class="fundo1"><a class="linknav" href="login"><img class="icones" src="Images/icones/user.png" alt="">sei lá</a></li>
                </ul>
            </div> -->
            <!-- <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ullam provident harum animi natus odit repudiandae quae, labore fugiat possimus expedita inventore nam, quas, rerum magni aspernatur dolorem corrupti velit.</p> -->
        </div>


        <div >
            <div class="jogos">
                <div class="slider-container swiper">
                    <div class="slider-content">
                        <div class="card-wrapper swiper-wrapper">
                    <% for(let jogo of jogos ) { %>
                    
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                    <img src="<%= jogo.imagem %>" alt=""></a></li>
                            </div>
                        </div>
                        <div class="card-content">
                        <h2 class="name"><%= jogo.nome %></h2>
                        <p class="description">
                            <!-- <%= jogo.descricao %> -->
                        </p>
                        <button class="button" onclick="chamartela('<%= jogo.id %>')">Read More</button>
                        </div>
                    </div>
                
                    <% } %>
                        </div>
                    </div>
                    <div class="swiper-button-next swiper-navBtn"></div>
                    <div class="swiper-button-prev swiper-navBtn"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/swiper-bundle.min.js"></script>
    <script src="/scripts/carrosel.js"></script>
</body>
</html>