<!DOCTYPE html>
<html>
  <head>
    <title>foda</title>
  </head>
  <body>
    <h1>foda</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <%= result %>
      </tbody>
    </table>
  </body>
</html>