<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="Images/logo/logobrancocirculo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/stylelogin.css">
    <title>Recuperação</title>
</head>
<body>
    <section class="login">
        <div class="caixa__login">
            <h2>Recuperação de senha</h2>
            <form action="/esqueciasenha" method="post">
                <div class="caixa__login-input">
                    <input name= "email"type="email" autocomplete="off" required />
                    <label>email</label>
                </div>
                <div class="caixa__login-input">
                    <input name="novaSenha" type="password" autocomplete="off" required />
                    <label>Nova senha</label>
                </div>
                <div class="caixa__login-input">
                    <input name="confirmarNovaSenha" type="password" autocomplete="off" required />
                    <label>Confirmar senha</label>
                </div>
                <input id="acesso" class="p-button" type="submit">
                
            </form>
        </div>
    </section>
</body>
</html>