<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="Images/logo/logobrancocirculo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/stylelogin.css">
    <title>Registro</title>
</head>
<body>
    
    <%- include('error.ejs') %>

    <section class= "registro">
        <div class="caixa__login">
            <h2>Cadastro</h2>
            <form action="/registro" method="post">
                <div class="caixa__login-input">
                    <input name="nome" type="text" autocomplete="off" required />
                    <label>Nome</label>
                </div>
                <div class="caixa__login-input">
                    <input name = "email"type="email" autocomplete="off" required />
                    <label>Email</label>
                </div>
                <div class="caixa__login-input">
                    <input name= "idade" type="date" autocomplete="off" required />
                    <label>Nascimento </label>
                </div>
                <div class="caixa__login-input">
                    <input name="senha" type="password" autocomplete="off" required />
                    <label>Senha</label>
                </div>
                <div class="caixa__login-input">
                    <input name="Confirmasenha" type="password" required />
                    <label>Confirmar senha</label>
                </div>
                <a id="esqueciasenha" href="login">Já possui uma conta?</a>
                <input id="acesso" class="p-button" type="submit">
            </form>
        </div>
    </section>
</body>
</html>